
*.bootinfo_guids
*.compileinfo
*.bootinfo

confidencialy/*
SoMashine_projects/прога_Дзвин_4_1/
Резчик_Болгарский_КРОК27_М/
doc/
video/
DropMeFiles_NM5B0.zip
DSCN8877.JPG
doc/Дзвин
temp/

